{%extends 'cities/base.html'%}
{% load static %}

{% block title %}

Riyadh City
{% endblock %}

{% block content %}
<style>
img{height: 400px;
    width: 300px;}
div{padding: 60px;}
h3{padding-left: 77px;}


</style>


<div class="container">
<h1>Riyadh City</h1>

<hr>

<p>It is the largest city on the Arabian Peninsula, and is situated in the center of the an-Nafud desert</p>
</div>
<hr>
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <h3 >Places to visit in Riyadh</h3>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'images\KAFD.png'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>KAFD (King Abdullah Financial District)</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{%static 'images\img1.jpeg'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Al Faisaliyah tower</h5>
        </div>
      </div>
      <div class="carousel-item acti">
        <img src="{%static 'images\Kingdom Centre Tower.jpg'%}"class="d-block w-100" alt="...">

        <div class="carousel-caption d-none d-md-block">
          <h5>Kingdom Centre Tower</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



{% endblock %}