
header.masthead {
        padding-top: 10.5rem;
        padding-bottom: 30rem;
        text-align: center;
        color: #fff;
        background-image: url("../static/images/ksa-2.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
  }
  