{% extends "main/base.html" %}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abha</title>
</head>
<body>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Abha</h1>
        <p>Enjoy the view of the nature’s mountains in Al-Dabab walkway. Observe the wide terraced farm fields at a height of 2200 m on the edge of the Sarawat Mountains. Breathe in the clean mountain air whilst you take a stroll through the heavy fog. Enjoy the beautiful taste of the good life in the green landscapes in an experience where you will capture a countless number of pictures of Abha’s mesmerizing fog.</p>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"> </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            
            <a href="https://www.visitsaudi.com/en/see-do/destinations/abha"><button   type="button" class="btn btn-outline-secondary btn-lg px-4">  visit Abha</button></a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="{% static 'images/abha.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
        
      </div>

      <div class="bg text-secondary px-4 py-5 text-center">
        <div class="py-5">
         
          <div class="col-lg-6 mx-auto">
           
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
             <video width="1000px" height="1000px"  controls="controls autoplay"
              src="{%static 'video/abha.mp4'%}"type="video/mp4"></video>
            </div>
          </div>
        </div>
      </div>
    
</body>
{% endblock %}
</html>