{% extends "main/base.html" %}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlUla</title>
</head>
<body>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">AlUla</h1>
        <p>sometimes stylized in English as AlUla, is an ancient Arabic oasis city located in Medina province of northwestern Saudi Arabia. Situated in the Hejaz, a region that features prominently in the history of Islam as well as several pre-Islamic Semitic civilizations, Al-'Ula was a market city on the historic incense route that linked India and the Gulf to the Levant and Europe.</p>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"> </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            
            <a href="https://www.visitsaudi.com/en/see-do/destinations/alula?gclid=CjwKCAiAuOieBhAIEiwAgjCvchBC36iHXTgF9hrmAnH439FtokJRbmMqveEX4QJ6OP5EHlYKF5edhRoCo_cQAvD_BwE&gclsrc=aw.ds"><button   type="button" class="btn btn-outline-secondary btn-lg px-4">  visit ALULA</button></a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="{% static 'images/alula.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
        
      </div>

      <div class="bg text-secondary px-4 py-5 text-center">
        <div class="py-5">
         
          <div class="col-lg-6 mx-auto">
           
            
          </div>
        </div>
      </div>
    
</body>
{% endblock %}
</html>