{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tourister</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
     </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">السياحة في المملكة العربية السعودية</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
              </div>
              <h2>Welcom To Saudi Arabia.</h2>
            </div>
            
          </nav>
          <img src="{% static 'img/saudi.jpg' %}"  width="1519" height="400" >
          <article class="media" dir="rtl" >
            <h2> المملكة العربية السعودية </h2>
            <p>تعد السياحة في المملكة العربية السعودية من أكثر القطاعات النامية التي شكلت تطورا واهتماما كبيرا في السنوات الأخيرة، وضمن الرؤية الوطنية 2030 قررت المملكة العربية السعودية الاتجاه للاستثمار في القطاع السياحي، وجعله أحد أهم الركائز التي تقوم عليها الرؤية، لتغيير مفهوم السياحة الداخلية التقليدية، وجعلها منافسة للسياحة الخارجية لتحقق صناعة سياحية عالمية    </p>

        <div class="container"> 

            <div class="row mt-5">
        
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/riyadh.jpeg' %}" height="240" class="card-img-top" alt="..." />
                        <div class="card-body">
                        <h5 class="card-title">Riyadh</h5>
                        <p class="card-text"> مدينة الرياض هي عاصمة المملكة العربيةالسعودية والتي لا تتوقف عن النمو والازدهار، ستكتشف مهد ولادة المملكة العربية السعودية، بكنوزها التاريخية المخبئة في القصور القديمة التي احتضنت لحظات التأسيس. يقصدها الزوار من جميع أنحاء العالم لاكتشاف عوالم من التسوق والترفيه والأعمال، </p>
                        <a href="{% url 'main:city/Riyadh' %}" class="btn btn-primary">  اكتشف الرياض  </a>
                    </div>
                    </div>  
                </div>
        
        
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/mekkah.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Mekkah</h5>
                        <p class="card-text">تعد زيارة مكة المكرمة أمنية كبيرة للمسلمين من مختلف بقاع الأرض لتلبية فرائض الإسلام ولكونها مسقط رأس النبي محمد (ص) والمدينة التي أُنزل فيها القرآن الكريم.   يعج الحرم المكي بالزوار خلال جميع ساعات اليوم. كما أن المدينة التاريخية في مكة ثرية بالمتاحف و المعالم التي شهدت أهم الأحداث في صدر الإسلام</p>
                        <a href="{% url 'main:city/Mekkah' %}" class="btn btn-primary">اكتشف مكة المكرمة</a>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/abha.jpg' %}" height="242" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Abha</h5>
                        <p class="card-text">تمتلك مدينة أبها موقعًا مثاليًّا في جنوب غربي السعودية، على ارتفاع 2200م بين قمم جبال السروات، حيث يمنحك موقعها فرصة معانقة السحاب، والتجول بين قممها الجبلية، مترعًا بالدهشة، فيما تنتقل عبر أزمنة تتجاوز مئات السنين، عند مشاهدة القلاع والقصور المشيدة من مكونات بيئتهاالبكر ومع مناورات الضباب في فصل الصيف</p>
                        <a href="{% url 'main:city/Abha' %}" class="btn btn-primary">اكتشف ابها</a>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/alula.jpg' %}" height="242" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">AlUla</h5>
                        <p class="card-text">هي التي تشعر معها أنك مستكشف حقيقي من أوائل من يتعرف على أحد كنوز الطبيعة، وهذا ما تشعر به تماماُ عند زيارتك لمحافظة العلا، فبالرغم من كل ما تتملكه من طبيعة عجيبة وآثار تعود لأكثر من 7 آلاف عام، وتمتد على مساحة 22 ألف كيلومتراً مربعاً، إلا أنها جديدة على خارطة السياحة العالميةالعلا هي نبع تلك الحضارات</p>
                        <a href="{% url 'main:city/AlUla' %}" class="btn btn-primary">اكتشف العلا</a>
                        </div>
                    </div>
                </div>
        
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html> 