{% extends "Main/main_temp.html" %}
{% load static %}
{%block title%}Home Page{%endblock%}

{%block content%}

<div class="image_back w-100">    
    
    <div class="row p-0 m-0 mt-2 position-fixed top-50 start-50 translate-middle">

        <div class="col">
            <div class="row gx-5 p-0">
                <h1 class="textColor ">Discover Saudi</h1>
            </div>

            <div class="row gx-5 p-0">
                <h3 class="textColor ">
                    Explore Saudi Arabia between the originality of the past and the vision of the future 
                </h3>
            </div>
            
        </div>

        <div class="row p-0 mt-5">
            <iframe width="540" height="414" src="https://www.youtube-nocookie.com/embed/JY7kRm4wD-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </div>

    </div>


    
</div>
{%endblock%}
