{% extends "Main/main_temp.html" %}
{% load static %}
{%block title%}Mekkah City{%endblock%}

{%block content%}

<div class="container mb-2">
        <div class="m-5 ">
            <h1>
                Mekkah City 
            </h1>
            <h4>
                For many Muslims around the world, an opportunity to visit Makkah is the ultimate
                blessing. This is the holiest city in Islam: the birthplace of the Prophet Muhammad and the city where the Quran was first revealed to him.
            </h4>
        </div>
        
    <div id="hero-carousel" class="carousel slide mb-5" data-bs-ride="carousel">
        
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        
    <div class="carousel-inner">

      <div class="carousel-item active s-item">
        <img src="{% static 'img/kaiba.jpg' %}" class="d-block w-100 s-img" alt="..."/>
        <div class="carousel-caption">
            <h3></h3>
            <h5></h5>  
        </div>
      </div>

      <div class="carousel-item s-item">
        <img src="{% static 'img/mekkah1.jpg' %}" class="d-block w-100 s-img" alt="..."/>
        <div class="carousel-caption">
            <h3></h3>
            <h5></h5>
        </div>
      </div>


    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

  <div class="row mb-5">
        <h3 class="mt-3 mb-5">
            We invite you to watch video for city
        </h3>
        <iframe width="560" height="640" src="https://www.youtube-nocookie.com/embed/c25Ye58FVKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

        </iframe>
    </div>
    
    </div>
{%endblock%}

