{% extends "main/base.html" %}
{% load static %}
{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riyadh</title>
</head>
<body>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Riyadh</h1>
        <p>The 2022 Riyadh season promises visitors to spend (beyond imagination) moments, which is the slogan of this year’s version. Be prepared for surprises, with 15 destinations across the capital that are ready to host events and activities to suit all tastes and ages.</p>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"> </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            
            <a href="https://www.visitsaudi.com/en/"><button   type="button" class="btn btn-outline-secondary btn-lg px-4">  visit Riyadh</button></a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="{% static 'images/riyadh.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
        
      </div>

      <div class="bg text-secondary px-4 py-5 text-center">
        <div class="py-5">
         
          <div class="col-lg-6 mx-auto">
           
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
             <video width="1000px" height="1000px"  controls="controls autoplay"
              src="{%static 'video/production ID_4936693.mp4'%}"type="video/mp4"></video>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>

{%endblock%}
